.feynman__title {
    position: relative;
    z-index: 1;
    width: 648px;
    margin: 0px auto 70px;
    padding-top: 100px;
    font-size: 120px;
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
  }